@font-face {
  font-family: 'audiofilia';
  src: url(./assets/audiofilia.ttf);
}

* {
  margin: 0;
  padding: 0;
}




.banner {
  width: 430px;
  height: 300px;
  margin-left: 150px;
  
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 230px;

}
.main {
  background-image: url('./assets/bannerAudiofiliaa.jpeg');
  background-size: cover;
  height: 645px;

}


.titulo {
  font-family: 'audiofilia';
  color: rgb(240, 188, 17);
  font-size: 60px;
text-shadow: 10px 4px 10px rgb(31, 31, 31);
}

.subtitulo {
  text-align: right;
color: white;
font-size: 30px;
font-family: sans-serif;
text-shadow: 10px 4px 10px rgb(31, 31, 31);
}
.ver-productos {
  font-size: 22px;
  background-color: rgb(240, 188, 17);
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  margin-top: 70px;
  width: 155px;
  text-align: center;
  margin-left: 210px;
  font-family: sans-serif;
  box-shadow: 10px 4px 10px rgb(31, 31, 31);
  transition: all 300ms;
  &:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(240, 188, 17);
    transform: translateY(-7px);
  }
  
}

.saludo {
  font-size: 70px;
  text-align: center;
  color: rgb(240, 188, 17);
  text-shadow: 10px 4px 10px rgb(31, 31, 31);
}
button {
  background: none;
  border: none;
  padding-bottom: 20px;
  margin: 0;
  text-align: inherit; 
  width: 100px;
  
  height: 30px;
  text-align: center;
}

.cardSection {
  
  
  
  background-color: rgb(39, 39, 39);
  padding-top: 100px;

  

}
.cardSection2 {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  
}

main {
  background-color: rgb(77, 77, 77);
}
