
.caja-carrito {
    display: flex;
    flex-direction: row;
    margin-left: 600px;
}
.carrito {
    width: 42px;
    height: 42px;
    border-radius: 50px;
}
.numero-carrito {                                                                                                           
    color: white;
    font-size: 31px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 3px;
}